body {
    font-family: 'Montserrat', sans-serif !important;
    margin:0;
    padding:0;

}
*{
    margin:0;
    padding:0;
    
}
body,html{
    width:100%;
    height:100%;
    margin:0;
}
.head-page{
    width:auto;
    max-width: 100%;   
    height:100%;
    background-image:url(/imgs/achievement/Vestuari-1-1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    z-index: -1;
}
.img-fluid {
    width: 30px;
    height: 25px;
}

.headbar {
    display: flex;
    justify-content: space-between;
    padding:50px;
}

.logo {
    display: flex;
    gap: 1px;
    font-size: 24px;
}
.lang {
    color: #ffffff;
}

.logo2 {
    width: 98px;
    height: 123px;
    position: absolute;
    top: 110px;
    right: 50px;
    opacity: 0.75;
}

.logo3 {
    width: 645px;
    height: 120px;
    position: absolute;
   top: 70vh;
   left: 63wh;
   height: auto;
   vertical-align: top;
   max-width: 100%;
}
.menu-expanding{
    background-color: transparent;
    border: none;
    margin: 10px;
    
}
.bi bi-x-circle{
    font-size:20px !important;
}
.expand-menu{
    position:relative;
}

.menu-list{
    border-radius: 9px;
    position:absolute;
    color:white;
    background: linear-gradient(to bottom,rgba(14,43,111,0.9) 45%,rgba(14,43,111,0) 100%);
    height: 100vh !important;
    width: 20vw !important;
    min-width: 280px;
    display:block;
    opacity:0;
    pointer-events: none;
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    transform: translateY(-10px);
}

.expand-menu.active > .menu-expanding + .menu-list{
    opacity:1;
    pointer-events:auto;
    transform: translateY(0);
}

.list{
    display:flex;
    flex-direction: column;
    gap:4px;
    margin-top: 15px;
}
.menu-link:hover{
    color:#ec373d;
    transition: 0.6s;
}
.menu-link{
    text-decoration: none !important;
    color :white;
    margin-left: 50px;
    font-size:18px;
}
.barca {
    background: linear-gradient(45deg, rgba(30,39,59,1) 0%, rgba(46,59,88,1) 70%, rgba(8,143,180,1) 100%);
    position: relative;
}
.title-barca {
    width: 70vw;
    color: rgba(245,245,245,0.95);
    text-align: center;
    font-size: 3vw;
    font-weight: 800;
    margin-top: 60px;
    margin-left: 7vw;
    line-height: 5.5vw;
    position: relative;
}