body {
    font-family: 'Montserrat', sans-serif !important;
    margin:0;
    padding:0;

}
*{
    margin:0;
    padding:0;
    
}
body,html{
    width:100%;
    height:100%;
    margin:0;
}
.head-page{
    width:auto;
    max-width: 100%;   
    height:100%;
    background-image:url(/imgs/portada-banner-2-psg-1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.img-fluid {
    width: 30px;
    height: 25px;
}

.headbar {
    display: flex;
    justify-content: space-between;
    padding:50px;
}

.logo {
    display: flex;
    gap: 1px;
    font-size: 24px;
}
.lang {
    color: #ffffff;
}

.logo2 {
    width: 98px;
    height: 123px;
    position: absolute;
    top: 110px;
    right: 50px;
    opacity: 0.75;
}

.logo3 {
    width: 645px;
    height: 120px;
    position: absolute;
    bottom: 140px;
    right: 60px;
}

.lionel {
    position: absolute;
    top: 65vh;
    left: 62.6vw;
    font-size: 2.5em;
    letter-spacing: 40px;
    padding-left: -1px;
    line-height: 36px;
}
.timer{
    background-color: #0e2b6f;
    box-sizing: border-box !important;
}
#demo{
    color:#ec373d;
    font-weight: 600;
}
.countdown{
    display:flex;
    font-size: 45px;
    color:#ec373d;
    font-weight: 600;
    gap:7px;
}
div.s{
    line-height: 70px;
    word-wrap: break-word;
}
.messi-picture{
    display:flex;
}
.welcome{
    font-size:61px;
    opacity: 0.86;
    position: absolute;
    margin-top:186px;
    padding-top:80px;
    padding-right: 230px;
    display: block;
}
p.first-line{
    /* color:#ec373d;
    font-weight: 100;
    background-color: #fff;
    display:block;
    margin-bottom: 10px;
    padding-left: 50px; */
    color: #ec373d;
    background: rgba(255,255,255,0.95);
    font-size: 2.95vw;
    max-width: max-content;
    margin: 0 0 3px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 3px;
    margin-left: 0px;
    padding-left: 4vw;
    padding-right: 1vw;
}
p.second-line{
    /* color:white;
    font-weight: 900;
    background-color:#0e2b6f;
    padding-left: 50px;
    padding-right: 120px; */
    color: #ffffff;
    background: rgba(14,43,111,0.8);
    font-size: 2.95vw;
    font-weight: 700;
    min-width: max-content;
    width: 44vw;
    margin: 0 0 3px;
    padding-left: 4vw;
    padding-right: 0;
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.row{
    column-gap: 10px;
}
.upcoming-match{
    width:100%;
}
.match{
    padding-bottom:50px;
    background-color:#0e2b6f;
    opacity: 0.85;
}
#middle-block{
    margin-top:50px;
    margin-bottom:50px;
}
#dribbling{
    position:absolute;  
}
.matchday{
    background: #fff;
    padding: 2rem;
    position: relative;
    top: -2.5em;
    margin: 0 auto;
    text-align: center;
    line-height: 25px;
    max-width: 40%;
}
.day{
    font-size:45px;
    color:#ec373d;
    margin:5px;
}
.middle{
    background: #fff;
    padding: 2rem;
    position: relative;
    top: -2.5em;
    margin: 0 auto;
    text-align: center;
    line-height: 25px;
    max-width: 40%;

}
.month{
    color:rgba(14,43,111,1);
    font-size:20px;
    font-weight:300;
}
.match:hover{
    background-color:#012069;
    opacity: 1;
}
.time{
    position:relative;
    top:-2.4em;
    font-size: 18px;
}
.compete{
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 0px;
    color: #fff;
    position: relative;
    top: -1.8em;
}
.league{
    text-align: center;
    font-weight: normal;
    font-size: 19px;
    margin-bottom: 0px;
    position: relative;
    top: -0.8em;
    line-height: 20px;
    color: #fff;
}
.nation1{
    /* width:48px;
    height: 48px; */
    text-align: center !important;
}
.image1{
    width:48px;
    height:48px;
}
.nation-name1{
    font-size: 28px;
    font-weight: 600;
}
.nation-name2{
    font-size: 28px;
    font-weight: 600;
}
.image2{
    width:48px;
    height:48px;
}
.background{
    width: 1913px;
    height: 103px;
    background-color: black;
    color: white;
    font-size:small;
}
<<<<<<< HEAD
.menu-expanding{
    background-color: transparent;
    border: none;
}
=======
>>>>>>> 8b398595bc7be1883fa8f2495d8bab53194b9f2f
