body{
    font-family: 'Montserrat', sans-serif;
}
.background-img{
    background-image: url("imgs/portada-banner-2-psg-1.jpg");
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-size:cover;
    position:absolute;
}
.img-fluid{
    width:30px;
    height:25px;
}
.headbar{
    display:flex;
    justify-content: space-between;
    margin:50px;    
}
.logo{
    display:flex;
    gap:10px;
    font-size: 24px;
    position:relative;
}
.lang{
    color:#ffffff;
    position:relative;
}
.messi-logo{
    position:absolute;
    right: 50px;
    width: 110px;
    opacity: 0.75;
}
