html{
    Overflow-x:hidden;
}

body {
    font-family: 'Montserrat', sans-serif !important;
    margin:0;
    padding:0;

}
*{
    margin:0;
    padding:0;
    
}
body,html{
    width:100%;
    height:100%;
    margin:0;
}
p {
    margin: 0 0 30px;
    padding: 0;
}
.head-page{
    width:auto;
    max-width: 100%;   
    height:100%;
    background-image:url(/Images/MainpageImages/achievement/Vestuari-1-1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
  
}
.img-fluid {
    width: 30px;
    height: 25px;
}

.headbar {
    display: flex;
    justify-content: space-between;
    padding:50px;
}

.logo {
    display: flex;
    gap: 1px;
    font-size: 24px;
}
.lang {
    color: #ffffff;
}

.logo2 {
    width: 98px;
    height: 123px;
    position: absolute;
    top: 110px;
    right: 50px;
    opacity: 0.75;
}

.logo3 {
    width: 645px;
    height: 120px;
    position: absolute;
   top: 70vh;
   left: 63wh;
   height: auto;
   vertical-align: top;
   max-width: 100%;
  
}
.menu-expanding{
    background-color: transparent;
    border: none;
    margin: 10px;
    
}
.bi bi-x-circle{
    font-size:20px !important;
}
.expand-menu{
    position:relative;
}

.menu-list{
    border-radius: 9px;
    position:absolute;
    color:white;
    background: linear-gradient(to bottom,rgba(14,43,111,0.9) 45%,rgba(14,43,111,0) 100%);
    height: 100vh !important;
    width: 20vw !important;
    min-width: 280px;
    display:block;
    opacity:0;
    pointer-events: none;
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    transform: translateY(-10px);
}

.expand-menu.active > .menu-expanding + .menu-list{
    opacity:1;
    pointer-events:auto;
    transform: translateY(0);
}

.list{
    display:flex;
    flex-direction: column;
    gap:4px;
    margin-top: 15px;
}
.menu-link:hover{
    color:#ec373d;
    transition: 0.6s;
}
.menu-link{
    text-decoration: none !important;
    color :white;
    margin-left: 50px;
    font-size:18px;
}
#bg-barca {
    /* background-color: rgb(26, 152, 187); */
    background-color: rgb(42,54,81);
}
.title-barca {
    width: 70vw;
    color: rgba(245,245,245,0.95);
    /* text-align: center; */
    font-size: 3vw;
    font-weight: 800; 
    margin-left: 500px;
    line-height: 5.5vw;
    position: relative;
}
.cup-barca {
    width: 60vw;
    /* width: 1000px; */
    margin-left: 100px;
    margin-top: 80px;
} 
/* .first-line {
    height: auto;
    overflow: hidden;
} */

.cl1
{
    color: #fe616a;
    font-size: 22px;
    font-weight: 800;
    line-height: 27px;
    font-weight: bolder;
}
.championleague {
    width: 50%;
    text-align: center;
    /* float: left; */
}
.years {
    font-size: 16px;
    font-weight: 700;
    color: #f5f5f5;
    /* line-height: 20px; */
    width: 190px;
    /* margin: auto; */
    height: 82px;
}

.title-psg {
    width: 70vw;
    color: rgba(245,245,245,0.95);
    text-align: center;
    font-size: 3vw;
    font-weight: 800; 
    margin-left: 150px;
    line-height: 5.5vw;
    position: relative;
}

.cl2
{   
    color: white;
    font-size: 22px;
    font-weight: 800;
    line-height: 27px;
    font-weight: bolder;
}


.title-argentina {
    width: 70vw;
    color: rgba(245,245,245,0.95);
    text-align: center;
    font-size: 3vw;
    font-weight: 800; 
    margin-left: 5px;
    line-height: 5.5vw;
    position: relative;
}


.cl3
{   
    color: rgb(19,212,237);
    font-size: 22px;
    font-weight: 800;
    line-height: 27px;
    font-weight: bolder;
}

.cl4
{   
    color: rgb(255,234,60);
    font-size: 22px;
    font-weight: 800;
    line-height: 27px;
    font-weight: bolder;
}


.title-record {
    width: 70vw;
    color: rgba(245,245,245,0.95);
    text-align: center;
    font-size: 3vw;
    font-weight: 800; 
    margin-left: 250px;
    line-height: 5.5vw;
    /* position: relative; */
}

